<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to("Home", "#") %></li>
      <li><%= link_to("Help", "#") %></li>
      <li><%= link_to("Log in", "#") %></li>
    </ul>
  </nav>
  <small>
    Open source twitter clone built with ruby on rails. <%= link_to("Github", "https://github.com/matheus-manoel/beep_beep") %>
	</small>
</footer>